{% extends 'base.html' %}
{% load static %}
{% block title %} معلومات التواصل  {% endblock %}

{% block content %}
<div class="main_subject">

  
    <div class="report_content">
        <div class="subject_title"> معلومات التواصل </div>
    
      
        <div class="text_item"></div>

        <div class="multi_image_item" >
            <img src="{% static 'source/images/background.jpg' %}" style="margin: 10px;" alt="">
            <img src="{% static 'source/images/background.jpg' %}" style="margin: 10px;" alt="">
            <img src="{% static 'source/images/background.jpg' %}" style="margin: 10px;" alt="">
        </div>
     


      
                                                   
        
    </div>
  



</div>



<!-- end subject -->




{% endblock %}