{% extends 'base.html' %}
{% load static %}

{% block title %} profile {% endblock %}


{% block css_link %}
<link rel="stylesheet"  href="{% static 'css/profile.css' %}">
{% endblock %}

{% block content %}


  
   
    <!-- Your existing header goes here -->

    <!-- Profile Image -->
    <div class="center_childs">
        {% if request.user.profile.image %}
        <img src="{{request.user.profile.image.url}}" alt="Profile Image" class="profile-image"
        onerror="this.onerror=null;this.src='/default.png/'">
        {% else %}
        <img src="/media/default.jpg/" alt="Profile Image" class="profile-image">
        {% endif %}
        
    </div>
    <div class="center_childs">
        
        <button style="margin: 15px;" id="show_button_img" class="edit-btn">Edit</button>

        <dialog id="image_dialog">
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input   type="file" name="profile_image" id="profile_image" >
                <input type="hidden" name="img">
                <input type="submit" value="تأكيد" class="edit-btn">
            </form>
            <button id="close_button_img">اغلاق</button>
        </dialog>
    </div>
  
    <div class="center_childs">
          <!-- Profile Details Table -->
    <table style="margin: 35px;">
        <tr>
            <th>Field</th>
            <th>Value</th>
            <th>Action</th>
        </tr>
        <tr>
            <td>first name</td>
            <td>{{request.user.first_name}}</td>
            <td><button class="edit-btn" id="show_button_username">Edit</button></td>

            <dialog id="username_dialog">
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input   type="text" name="firstname" id="username" >
                    <input type="hidden" name="first_name">
                    <input type="submit" value="تأكيد" class="edit-btn">
                </form>
                <button id="close_button_username">اغلاق</button>
            </dialog>

        </tr>
        <tr>
            <td>last name</td>
            <td>{{request.user.last_name}}</td>
            <td><button class="edit-btn" id="show_button_lastname">Edit</button></td>

            <dialog id="lastname_dialog">
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input   type="text" name="lastname" id="lastname" >
                    <input type="hidden" name="last_name">
                    <input type="submit" value="تأكيد" class="edit-btn">
                </form>
                <button id="close_button_lastname">اغلاق</button>
            </dialog>

        </tr>

       
        <tr>
            <td>Phone Number</td>
            <td>{{request.user.profile.phone_number}}</td>

            <dialog id="phone_dialog">
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input   type="text" name="phone_number" id="phone_number" >
                    <input type="hidden" name="phone">
                    <input type="submit" value="تأكيد" class="edit-btn">
                </form>
                <button id="close_button_phone">اغلاق</button>
            </dialog>


            <td><button class="edit-btn" id="show_button_phone">Edit</button></td>
        </tr>
        <tr>
            <td>Birthdate</td>
            <td>{{request.user.profile.birthdate}}</td>
            <dialog id="birth_dialog">
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input   type="date" name="birth" id="birth" >
                    <input type="hidden" name="birth_date">
                    <input type="submit" value="تأكيد" class="edit-btn">
                </form>
                <button id="close_button_birth">اغلاق</button>
            </dialog>

            <td><button class="edit-btn" id="show_button_birth">Edit</button></td>
        </tr>
        <tr>
            <td>email</td>
            <td>{{request.user.email}}</td>

            <td></td>
        </tr>

        <tr>
            <td>username</td>
            <td>{{request.user.username}}</td>
            <td></td>

        </tr>
        <!-- Add more rows as needed -->
    </table>
    </div>
  
    <script>
        //image edit
        const image_dialog=document.getElementById("image_dialog")
        const show_button=document.getElementById("show_button_img")
        const close_button=document.getElementById("close_button_img")
        show_button.addEventListener("click",function(){
            image_dialog.showModal();
        })
        close_button.addEventListener("click",function(){
            image_dialog.close();
        })

        //firstname edit
        const username_dialog=document.getElementById("username_dialog")
        const show_button_username=document.getElementById("show_button_username")
        const close_button_username=document.getElementById("close_button_username")
        show_button_username.addEventListener("click",function(){
            username_dialog.showModal();
        })
        close_button_username.addEventListener("click",function(){
            username_dialog.close();
        })
        //firstname edit
        const lastname_dialog=document.getElementById("lastname_dialog")
        const show_button_lastname=document.getElementById("show_button_lastname")
        const close_button_lastname=document.getElementById("close_button_lastname")
        show_button_lastname.addEventListener("click",function(){
            lastname_dialog.showModal();
        })
        close_button_lastname.addEventListener("click",function(){
            lastname_dialog.close();
        })
        //phone
        const phone_dialog=document.getElementById("phone_dialog")
        const show_button_phone=document.getElementById("show_button_phone")
        const close_button_phone=document.getElementById("close_button_phone")
        show_button_phone.addEventListener("click",function(){
            phone_dialog.showModal();
        })
        close_button_phone.addEventListener("click",function(){
            phone_dialog.close();
        })

          //birth
          const birth_dialog=document.getElementById("birth_dialog")
        const show_button_birth=document.getElementById("show_button_birth")
        const close_button_birth=document.getElementById("close_button_birth")
        show_button_birth.addEventListener("click",function(){
            birth_dialog.showModal();
        })
        close_button_birth.addEventListener("click",function(){
            birth_dialog.close();
        })
    </script>



{% endblock %}